<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>The Thinking Traveller | Villa PDF</title>
    <script type="text/javascript" src="js/jquery-1.7.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css?v=19.1" />
    <link rel="stylesheet" type="text/css" href="css/style.css?v=19.1" />
    <link rel="stylesheet" type="text/css" href="css/print.css?v=19.1" />
</head>

<body id="print-mode">
    <form method="post" action="./PrintPropertyPDF.aspx?id=722&amp;p=1&amp;langid=1&amp;footer=0&amp;dummy=1234"
        id="form1">
        <div class="aspNetHidden" </div>

            <div class="aspNetHidden">
                <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="90D093B9" />
            </div>

            <!-- Note: not sure why we have this ID, but I cannot remove/change it without doing the same in the css -->
            <div id="think_sicily_2012">

                <div id="print-layout" class="print-sicily">
                    <!-- TTT LOGO PAGE HEADER -->
                    <div class="header">
                        <h1>
                            <img src="img/tttlogo.png?v=19.1" id="imgLogo" style="width:200px;"
                                alt="The Thinking Traveller" />
                        </h1>
                    </div>

                    <div style="min-height: 860px" id="contentContainer">
                        <div class="print-content">

                            <!-- VILLA MAIN TITLE - REPEATED ON EACH PAGE -->
                            <div class="main villa-header">
                                <div>
                                    <h2>
                                        <a href="https://www.thethinkingtraveller.com/thinkionianislands/epipleon.aspx"
                                            id="propertyLink">Epipleon</a>
                                        <br />
                                        <span class="header-region greek-islands">GREEK ISLANDS</span>
                                        </br>
                                        <span class="header-sub-region">Tsoukalades, Lefkada</span>
                                    </h2>
                                </div>

                                <div class="badges">
                                    <!-- NEW FOR 2020 LOGO - IF NEW FOR 2020 -->
                                    <div v-if="getCard.label === 'New for 2020'">
                                        <img class="new-badge" src="./img/New-2020-villa-badge.svg" alt="New for 2020"
                                            height="70" />
                                    </div>

                                    <!-- THINK EXQUISITE LOGO - IF TE VILLA -->
                                    <div v-if="villa.thinkExquisiteVilla">
                                        <img src="./img/think-logo-gold.png" class="exquisite-logo"
                                            alt="Think Exquisite Logo" height="70" />
                                    </div>
                                </div>
                            </div>
                <br style="clear: both; height: 0px;" />
                <div class="print-content">
            
            
            
            
            
            
            
                    <div id="Page5">
                        <h2 class="highlight">
                            Reviews
                        </h2>
                        <br />
                        <div class="border">
                            <table class="ratings">
                                <tr>
                                    <td class="average-rating" colspan="2">
                                        4.9 / 5
                                    </td>
                                    <td class="rating-text">
                                        Setting, grounds and views
                                    </td>
                                    <td class="rating-number">
                                        4.9
                                        / 5
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="highlight">
                                            Overall score (27 ratings)
                                        </span>
                                    </td>
                                    <td class="rating-text">
                                        Standard and quality of the property
                                    </td>
                                    <td class="rating-number">
                                        4.8
                                        / 5
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="split-left">
                            <h2 class="highlight">Collected by us from the detailed feedback forms we send to all
                                our clients</h2>
            
                            <div style="display:inline-block;">
                                <table width="363px" cellpadding="0" cellspacing="0" border="0"
                                    style="position: relative; direction: ltr; float: left; display: block;">
                                    <tr>
                                        <td class="RatingBackgroundWhite">
                                            <div style="width: 85px; float: left;">
                                                <!-- <div id="rptrCommentsLeft_divRatingStars_Review_0" class="RatingStarsWhite" style="width:81.00px;"></div> -->
                                            </div>
                                            &nbsp;<b>Pip&nbsp;Higgins</b>,&nbsp;United Kingdom&nbsp;6 October 19
                                        </td>
                                    </tr>
                                </table>
                                <br style="clear: both;" />
                                <table width="363px" cellpadding="0" cellspacing="0" border="0"
                                    style="position: relative; direction: ltr; float: left; display: block;">
                                    <tr>
                                        <td>
                                            <p>
                                                "Every attention to detail has been made to make Epipleon the most
                                                beautiful villa to rest and unwind awhile and enjoy both the
                                                internal and external decor. The thought that has gone into the
                                                actual construction of the villa sitting so well with the
                                                surrounding olive trees, stone and slate tones, choice of mostly
                                                white tones throughout, plants and ornaments, infinity all-round
                                                pool, seating and lounging areas, high quality sunloungers and
                                                sumptuous day bed made our stay at Epipleon a total pleasure - a
                                                little piece of Heaven on earth for us!"</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
            
                            <div style="display:inline-block;">
                                <table width="363px" cellpadding="0" cellspacing="0" border="0"
                                    style="position: relative; direction: ltr; float: left; display: block;">
                                    <tr>
                                        <td class="RatingBackgroundWhite">
                                            <div style="width: 85px; float: left;">
                                                <!-- <div id="rptrCommentsLeft_divRatingStars_Review_1" class="RatingStarsWhite" style="width:64.80px;"></div> -->
                                            </div>
                                            &nbsp;<b>Sandra&nbsp;Kuhn</b>,&nbsp;Switzerland&nbsp;18 August 19
                                        </td>
                                    </tr>
                                </table>
                                <br style="clear: both;" />
                                <table width="363px" cellpadding="0" cellspacing="0" border="0"
                                    style="position: relative; direction: ltr; float: left; display: block;">
                                    <tr>
                                        <td>
                                            <p>
                                                "Epipleon and its surroundings were great."</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
            
                            <div style="display:inline-block;">
                                <table width="363px" cellpadding="0" cellspacing="0" border="0"
                                    style="position: relative; direction: ltr; float: left; display: block;">
                                    <tr>
                                        <td class="RatingBackgroundWhite">
                                            <div style="width: 85px; float: left;">
                                                <!-- <div id="rptrCommentsLeft_divRatingStars_Review_2" class="RatingStarsWhite" style="width:81.00px;"></div> -->
                                            </div>
                                            &nbsp;<b>Amanda&nbsp;Labbett</b>,&nbsp;United Kingdom&nbsp;4 August 19
                                        </td>
                                    </tr>
                                </table>
                                <br style="clear: both;" />
                                <table width="363px" cellpadding="0" cellspacing="0" border="0"
                                    style="position: relative; direction: ltr; float: left; display: block;">
                                    <tr>
                                        <td>
                                            <p>
                                                "Epipleon is a stunning property (the pictures simply don’t do it
                                                justice). We felt like we were in our own little paradise. The owner
                                                was very friendly, laid back and there to help if needed. We loved
                                                our holiday and were sad to come home."</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
            
                            <div style="display:inline-block;">
                                <table width="363px" cellpadding="0" cellspacing="0" border="0"
                                    style="position: relative; direction: ltr; float: left; display: block;">
                                    <tr>
                                        <td class="RatingBackgroundWhite">
                                            <div style="width: 85px; float: left;">
                                                <!-- <div id="rptrCommentsLeft_divRatingStars_Review_3" class="RatingStarsWhite" style="width:81.00px;"></div> -->
                                            </div>
                                            &nbsp;<b>Anthony&nbsp;Coulston</b>,&nbsp;United Kingdom&nbsp;28 July 19
                                        </td>
                                    </tr>
                                </table>
                                <br style="clear: both;" />
                                <table width="363px" cellpadding="0" cellspacing="0" border="0"
                                    style="position: relative; direction: ltr; float: left; display: block;">
                                    <tr>
                                        <td>
                                            <p>
                                                "Epipleon was so perfect we barely left it."</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
            
                            <div style="display:inline-block;">
                                <table width="363px" cellpadding="0" cellspacing="0" border="0"
                                    style="position: relative; direction: ltr; float: left; display: block;">
                                    <tr>
                                        <td class="RatingBackgroundWhite">
                                            <div style="width: 85px; float: left;">
                                                <!-- <div id="rptrCommentsLeft_divRatingStars_Review_4" class="RatingStarsWhite" style="width:81.00px;"></div> -->
                                            </div>
                                            &nbsp;<b>Bart&nbsp;Odink</b>,&nbsp;Netherlands&nbsp;4 May 19
                                        </td>
                                    </tr>
                                </table>
                                <br style="clear: both;" />
                                <table width="363px" cellpadding="0" cellspacing="0" border="0"
                                    style="position: relative; direction: ltr; float: left; display: block;">
                                    <tr>
                                        <td>
                                            <p>
                                                "We loved Epipleon and were sad to go. Hope to return."</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
            
                            <div class="show-more-reviews">
                                <a href="https://www.thethinkingtraveller.com/thinkionianislands/epipleon.aspx#reviews"
                                    id="aVillaReviewsURL" class="availability-button reviews-button">
                                    <span> SHOW MORE
                                        <img src="img/jcal-right.gif" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="split-right">
                            <h2 class="highlight">A live feed of reviews collected independently from our clients by
                                Feefo</h2>
                            <div id="divFeefo"></div>
            
            
                        </div>
            
                    </div>
            
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            
            </div>
            <!-- think_sicily_2012 -->
            </div>
            </form>
            </body>
            
            </html>