<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>The Thinking Traveller | Villa PDF</title>
    <script type="text/javascript" src="js/jquery-1.7.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css?v=19.1" />
    <link rel="stylesheet" type="text/css" href="css/style.css?v=19.1" />
    <link rel="stylesheet" type="text/css" href="css/print.css?v=19.1" />
</head>
   
    <body id="print-mode">
        <form method="post" action="./PrintPropertyPDF.aspx?id=722&amp;p=1&amp;langid=1&amp;footer=0&amp;dummy=1234"
            id="form1">
            <div class="aspNetHidden" </div>
    
                <div class="aspNetHidden">
                    <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="90D093B9" />
                </div>

                <!-- Note: not sure why we have this ID, but I cannot remove/change it without doing the same in the css -->
                <div id="think_sicily_2012">

                    <div id="print-layout" class="print-sicily">
                        <!-- TTT LOGO PAGE HEADER -->
                        <div class="header">
                            <h1>
                                <img src="img/tttlogo.png?v=19.1" id="imgLogo" style="width:200px;" alt="The Thinking Traveller" />
                            </h1>
                        </div>
    
                        <div style="min-height: 860px" id="contentContainer">
                            <div class="print-content">

                            <!-- VILLA MAIN TITLE - REPEATED ON EACH PAGE -->
                            <div class="main villa-header">
                                <div>
                                    <h2>
                                        <a href="https://www.thethinkingtraveller.com/thinkionianislands/epipleon.aspx" id="propertyLink">Epipleon</a>
                                        <br>
                                        <span class="header-region greek-islands">GREEK ISLANDS</span>
                                        <br>
                                        <span class="header-sub-region">Tsoukalades, Lefkada</span>
                                    </h2>
                                </div>

                                <div class="badges">
                                    <!-- NEW FOR 2020 LOGO - IF NEW FOR 2020 -->
                                    <div v-if="getCard.label === 'New for 2020'">
                                        <img class="new-badge" src="https://www.thethinkingtraveller.com/media/Web/New-2020-villa-badge.svg" alt="New for 2020" height="70" />
                                    </div>

                                    <!-- THINK EXQUISITE LOGO - IF TE VILLA -->
                                    <div v-if="villa.thinkExquisiteVilla">
                                        <img src="./img/think-logo-gold.png" class="exquisite-logo" alt="Think Exquisite Logo" height="70" />
                                    </div>
                                </div>

                                <!-- VILLA STATS <div class="main-right header-stats">
                                    <div class="side-box">
                                        <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                                            <tr class="stats">
                                                <td width="25" class="sleeps"> <img src="img/guests.png" alt="">
                                                </td>
                                                <td class="table-icon-text">
                                                    6&nbsp;Guests
                                                </td>
                                                <td width="25" class="sleeps"> <img src="img/bedrooms.png" alt="">
                                                </td>
                                                <td class="table-icon-text">
                                                    3&nbsp;Bedrooms
                                                </td>
                                                <td width="25" class="sleeps"> <img src="img/bathrooms.png" alt="">
                                                </td>
                                                <td class="table-icon-text">3&nbsp;Bathrooms</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div> -->
                            </div>
                            <br style="clear: both; height: 0px;" />
                            <div class="print-content">
                                <div id="Page1">
                                    <div class="main main-page-1">
                                     <!-- Note: What is this image feature for? -->
                                        <div class="images-feature">
                                            <img id="img0" style="width:581px; margin: 0 15px 15px 0;" />
                                            <img id="img1" style="width:23%; margin-bottom: 15px;" />
                                            <img id="img2" style="width:23%; margin-bottom: 15px;" />
                                            <img id="img3" style="width:23%; margin-bottom: 15px;" />
                                        </div>
    
                                        <div class="main-right">
                                            <a href="https://www.thethinkingtraveller.com/thinkionianislands/epipleon.aspx#book"
                                                id="aVillaAvailabilityURL" class="availability-button">
                                                <span>Prices, Availability<br> and Booking
                                                </span>
                                                <img src="img/jcal-right.gif" alt="">
                                            </a>
                                            <div class="side-box">
    
                                                <h5>
                                                    <b>Service</b></h5>
                                                <span>
                                                    Mid-week clean and linen change</span>
                                                <h5>
                                                    <b>Features</b></h5>
                                                <ul id="ulFeatures" class="standard">
                                                    <li>Fabulous sea views and easy walk to a beach
                                                    </li>
                                                    <li>Infinity pool and Jacuzzi
                                                    </li>
                                                    <li>Excellent ecological credentials</li>
                                                </ul>
                                                <h5>
                                                    <b>Nearby</b></h5>
                                                <ul id="ulNearby" class="standard">
                                                    <li>Tsoukalades village
                                                    </li>
                                                    <li>Lefkada Town
                                                    </li>
                                                    <li>Lots of beaches
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <p id="pOverview" class="main-text"><b>A calming sea-view villa with infinity pool and Jacuzzi just a short walk from a gorgeous beach.</b>
                                        <br>
                                        <br>Gazing out to sea from amongst its olive trees, Epipleon combines just about
                                        everything that is desirable about a holiday home: flexible space, bright,
                                        calming
                                        interiors, relaxing gardens, a dreamy al fresco dining area and that most
                                        delicious
                                        of watery trilemmas: to spend more time swimming in the sea, floating in the
                                        infinity pool, or wallowing in the Jacuzzi.</p>
                                        <div class="villa-images">
                                            <img src="https://www.thethinkingtraveller.com/media/Resized/GREECE%20villas/Epipleon/520/TTT_Ionian_Islands_Lefkada_Epipleon62.jpg"
                                                alt="" style="margin: 20px 0 20px;">
                                            <img src="https://www.thethinkingtraveller.com/media/Resized/GREECE%20villas/Epipleon/520/TTT_Ionian_Islands_Lefkada_Epipleon61.jpg"
                                                alt="">
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <!-- think_sicily_2012 -->
                </div>
        </form>
    </body>
</html>