<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>The Thinking Traveller | Villa PDF</title>
    <script type="text/javascript" src="js/jquery-1.7.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css?v=19.1" />
    <link rel="stylesheet" type="text/css" href="css/style.css?v=19.1" />
    <link rel="stylesheet" type="text/css" href="css/print.css?v=19.1" />
</head>

<body id="print-mode">
    <form method="post" action="./PrintPropertyPDF.aspx?id=722&amp;p=1&amp;langid=1&amp;footer=0&amp;dummy=1234"
        id="form1">
        <div class="aspNetHidden" </div>

            <div class="aspNetHidden">
                <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="90D093B9" />
            </div>

            <!-- Note: not sure why we have this ID, but I cannot remove/change it without doing the same in the css -->
            <div id="think_sicily_2012">

                <div id="print-layout" class="print-sicily">
                    <!-- TTT LOGO PAGE HEADER -->
                    <div class="header">
                        <h1>
                            <img src="img/tttlogo.png?v=19.1" id="imgLogo" style="width:200px;"
                                alt="The Thinking Traveller" />
                        </h1>
                    </div>

                    <div style="min-height: 860px" id="contentContainer">
                        <div class="print-content">

                            <!-- VILLA MAIN TITLE - REPEATED ON EACH PAGE -->
                            <div class="main villa-header">
                                <div>
                                    <h2>
                                        <a href="https://www.thethinkingtraveller.com/thinkionianislands/epipleon.aspx"
                                            id="propertyLink">Epipleon</a>
                                        <br />
                                        <span class="header-region greek-islands">GREEK ISLANDS</span>
                                        </br>
                                        <span class="header-sub-region">Tsoukalades, Lefkada</span>
                                    </h2>
                                </div>

                                <div class="badges">
                                    <!-- NEW FOR 2020 LOGO - IF NEW FOR 2020 -->
                                    <div v-if="getCard.label === 'New for 2020'">
                                        <img class="new-badge"
                                            src="./img/New-2020-villa-badge.svg"
                                            alt="New for 2020" height="70" />
                                    </div>

                                    <!-- THINK EXQUISITE LOGO - IF TE VILLA -->
                                    <div v-if="villa.thinkExquisiteVilla">
                                        <img src="./img/think-logo-gold.png" class="exquisite-logo"
                                            alt="Think Exquisite Logo" height="70" />
                                    </div>
                                </div>
                            </div>
            <br style="clear: both; height: 0px;" />
            <div class="print-content">
        
        
                <div id="Page2">
                    <div class="about-villa main-page-2">
                        <h2 class="highlight">
                            About the Villa
                        </h2>
                        <div class="header-stats">
                            <div>
                                <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                                    <tr class="stats">
                                        <td width="25" class="sleeps"> <img src="img/guests.png" alt="">
                                        </td>
                                        <td class="table-icon-text">
                                            6&nbsp;Guests
                                        </td>
                                        <td width="25" class="sleeps"> <img src="img/bedrooms.png" alt="">
                                        </td>
                                        <td class="table-icon-text">
                                            3&nbsp;Bedrooms
                                        </td>
                                        <td width="25" class="sleeps"> <img src="img/bathrooms.png" alt="">
                                        </td>
                                        <td class="table-icon-text">3&nbsp;Bathrooms</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="main main-page-2">
                        <img id="img4" style="margin: 0px; margin-bottom: 10px;" />
                        <p>
                            <span class="highlight"><b>Inside:</b></span> accommodation at Epipleon is spread
                            over three houses just a few steps from each other. The central main house is an
                            open-concept communal space comprising a kitchen-diner opening out onto an al fresco
                            dining area, and, down a few steps, a comfy sea-view living area looking out over
                            and accessing the pool and Jacuzzi. A shower room completes the accommodation of the
                            main house.
                            <br>
                            <br>The second and third houses, one on either side of the main house are, in
                            effect, independent bedroom suites. The master bedroom suite one hosts a double
                            bedroom with en-suite shower room, a small sitting area, a kitchenette and a
                            mezzanine level with twin beds, suitable for children. The other has a double
                            bedroom with en-suite shower room, a single children's bedroom on an open mezzanine
                            level, and a private terrace outside. Both suites have sea views and access to the
                            decked terraces.
                            <br>
                            <br>Furnishings, fittings and decoration at Epipleon create a light, airy atmosphere
                            that inspires relaxation and repose.
                            <br>
                            <br><span class="highlight"><b>Outside:</b></span> Epipleon is hidden away in a
                            garden of whispering olive groves overlooking the irresistible blue waters of the
                            Ionian Sea. All the property's outdoor areas are oriented towards this view, so no
                            matter where you are outside, whether you're dining, lounging, floating in the
                            infinity pool or bubbling in the Jacuzzi, gorgeous vistas abound.
                            <br>
                            <br>Decking runs along the front of the property, connecting the three houses, the
                            pool area and panoramic sitting areas, bringing guests together for convivial
                            dinners under the stars while at the same time leading to peaceful spots for an
                            afternoon hammock-nap under the shade of an olive tree. For al fresco dining, guests
                            may choose between a shaded area just outside the kitchen or an area below the pool
                            equipped with barbecue and sink.
                            <br>
                        </p>
                    </div>
                    <div class="main-right">
                        <a href="https://www.thethinkingtraveller.com/thinkionianislands/epipleon.aspx#book"
                            id="aVillaAvailabilityURLAmenities1" class="availability-button">
                            <span>Prices, Availability<br> and Booking
                            </span>
                            <img src="img/jcal-right.gif" alt="">
                        </a>
                        <div class="side-box">
                            <h5>
                                <b>Amenities</b></h5>
                            <table class="amenities">
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_0" class="amenitytext">Accommodates
                                            (max)&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_0" class="amenitypic">6</span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_1" class="amenitytext">Bedrooms&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_1" class="amenitypic">3</span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_2" class="amenitytext">Flexible
                                            doubles/twins&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_2" class="amenitypic">3</span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_3" class="amenitytext">Bathrooms&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_3" class="amenitypic">3</span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_4" class="amenitytext">... of which en
                                            suite&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_4" class="amenitypic">2</span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_5" class="amenitytext">Cook&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_5" class="tick-op"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_6" class="amenitytext">Infinity pool
                                            (LxW in metres)&nbsp;<b>&sup1;</b></span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_6" class="amenitypic">11x4</span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_7" class="amenitytext">Plunge pool
                                            Jacuzzi&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_7" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_8" class="amenitytext">Air
                                            conditioning&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_8" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_9" class="amenitytext">Heating&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_9" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_10" class="amenitytext">Filtered
                                            drinking water&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_10" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_11" class="amenitytext">Washing
                                            machine&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_11" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_12" class="amenitytext">Dishwasher&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_12" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_13" class="amenitytext">Microwave
                                            oven&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_13" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_14" class="amenitytext">Satellite
                                            TV&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_14" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_15" class="amenitytext">DVD
                                            player&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_15" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_16" class="amenitytext">ADSL Internet
                                            [i]&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_16" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_17" class="amenitytext">Barbecue&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_17" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_18" class="amenitytext">Private
                                            Parking&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_18" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_19" class="amenitytext">Yoga
                                            instructor&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_19" class="tick-op"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_20" class="amenitytext">Sea
                                            views&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_20" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_21" class="amenitytext">Easy walk to
                                            beach/sea access&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_21" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>
                                        <span id="rptrAmenities_spanName_22" class="amenitytext">The Thinking
                                            Traveller local support 24/7&nbsp;</span>
                                    </td>
                                    <td>
                                        <span id="rptrAmenities_spanPic_22" class="tick-yes"></span>
                                    </td>
                                </tr>
        
                            </table>
                            <div>
                                <b>&sup1;</b> chlorine-free - a saline filtration system is used
                                <br></div>
                            <div class="legend">
                                <div class="tick-yes"></div>
                                <p class="tick-text">= yes/present</p>
                                <div class="tick-op"></div>
                                <p class="tick-text">= optional/on request</p>
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>
                        <a href="https://www.thethinkingtraveller.com/thinkionianislands/epipleon.aspx#book"
                            id="aVillaAvailabilityURLAmenities2" class="availability-button" style="margin-top: 10px;">
                            <span>Prices, Availability<br> and Booking
                            </span>
                            <img src="img/jcal-right.gif" alt="">
                        </a>
                    </div>
                </div>
        
        
        
        
        
        
                <div class="clearfix">
                </div>
            </div>
        </div>
        
        </div>
        <!-- think_sicily_2012 -->
        </div>
        </form>
        </body>
</html>
