<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>The Thinking Traveller | Villa PDF</title>
    <script type="text/javascript" src="js/jquery-1.7.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css?v=19.1" />
    <link rel="stylesheet" type="text/css" href="css/style.css?v=19.1" />
    <link rel="stylesheet" type="text/css" href="css/print.css?v=19.1" />
</head>

<body id="print-mode">
    <form method="post" action="./PrintPropertyPDF.aspx?id=722&amp;p=1&amp;langid=1&amp;footer=0&amp;dummy=1234"
        id="form1">
        <div class="aspNetHidden" </div>

            <div class="aspNetHidden">
                <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="90D093B9" />
            </div>

            <!-- Note: not sure why we have this ID, but I cannot remove/change it without doing the same in the css -->
            <div id="think_sicily_2012">

                <div id="print-layout" class="print-sicily">
                    <!-- TTT LOGO PAGE HEADER -->
                    <div class="header">
                        <h1>
                            <img src="img/tttlogo.png?v=19.1" id="imgLogo" style="width:200px;"
                                alt="The Thinking Traveller" />
                        </h1>
                    </div>

                    <div style="min-height: 860px" id="contentContainer">
                        <div class="print-content">

                            <!-- VILLA MAIN TITLE - REPEATED ON EACH PAGE -->
                            <div class="main villa-header">
                                <div>
                                    <h2>
                                        <a href="https://www.thethinkingtraveller.com/thinkionianislands/epipleon.aspx"
                                            id="propertyLink">Epipleon</a>
                                        <br />
                                        <span class="header-region greek-islands">GREEK ISLANDS</span>
                                        </br>
                                        <span class="header-sub-region">Tsoukalades, Lefkada</span>
                                    </h2>
                                </div>

                                <div class="badges">
                                    <!-- NEW FOR 2020 LOGO - IF NEW FOR 2020 -->
                                    <div v-if="getCard.label === 'New for 2020'">
                                        <img class="new-badge" src="./img/New-2020-villa-badge.svg" alt="New for 2020"
                                            height="70" />
                                    </div>

                                    <!-- THINK EXQUISITE LOGO - IF TE VILLA -->
                                    <div v-if="villa.thinkExquisiteVilla">
                                        <img src="./img/think-logo-gold.png" class="exquisite-logo"
                                            alt="Think Exquisite Logo" height="70" />
                                    </div>
                                </div>
                            </div>
                <br style="clear: both; height: 0px;" />
                <div class="print-content">
            
            
            
            
            
            
            
            
                    <div id="Page6">
                        <h2 class="highlight">
                            Gallery
                        </h2>
                        <div class="clearfix">
                        </div>
                        <div class="print-content gallery">
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon62.jpg"
                                id="rptrSlidewhowLandscape_img_0" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon61.jpg"
                                id="rptrSlidewhowLandscape_img_1" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon14.jpg"
                                id="rptrSlidewhowLandscape_img_2" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon53.jpg"
                                id="rptrSlidewhowLandscape_img_3" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Epipleon%20(37).jpg"
                                id="rptrSlidewhowLandscape_img_4" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/JUN18/400/TTT_Ionian_Islands_Epipleon_JUN18%2005.jpg"
                                id="rptrSlidewhowLandscape_img_5" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon37.jpg"
                                id="rptrSlidewhowLandscape_img_6" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon34.jpg"
                                id="rptrSlidewhowLandscape_img_7" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon30.jpg"
                                id="rptrSlidewhowLandscape_img_8" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Epipleon%20(27).jpg"
                                id="rptrSlidewhowLandscape_img_9" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon41.jpg"
                                id="rptrSlidewhowLandscape_img_10" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Epipleon%20(25).jpg"
                                id="rptrSlidewhowLandscape_img_11" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon55.jpg"
                                id="rptrSlidewhowLandscape_img_12" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Epipleon%20(32).jpg"
                                id="rptrSlidewhowLandscape_img_13" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Epipleon%20(31).jpg"
                                id="rptrSlidewhowLandscape_img_14" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Epipleon%20(28).jpg"
                                id="rptrSlidewhowLandscape_img_15" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Epipleon%20(30).jpg"
                                id="rptrSlidewhowLandscape_img_16" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Epipleon%20(33).jpg"
                                id="rptrSlidewhowLandscape_img_17" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon01.jpg"
                                id="rptrSlidewhowLandscape_img_18" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon02.jpg"
                                id="rptrSlidewhowLandscape_img_19" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Epipleon%20(11).jpg"
                                id="rptrSlidewhowLandscape_img_20" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Epipleon%20(10).jpg"
                                id="rptrSlidewhowLandscape_img_21" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/JUN18/400/TTT_Ionian_Islands_Epipleon_JUN18%2001.jpg"
                                id="rptrSlidewhowLandscape_img_22" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon64.jpg"
                                id="rptrSlidewhowLandscape_img_23" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/JUN18/400/TTT_Ionian_Islands_Epipleon_JUN18%2007.jpg"
                                id="rptrSlidewhowLandscape_img_24" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/JUN18/400/TTT_Ionian_Islands_Epipleon_JUN18%2011.jpg"
                                id="rptrSlidewhowLandscape_img_25" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon08.jpg"
                                id="rptrSlidewhowLandscape_img_26" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/JUN18/400/TTT_Ionian_Islands_Epipleon_JUN18%2002.jpg"
                                id="rptrSlidewhowLandscape_img_27" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon13.jpg"
                                id="rptrSlidewhowLandscape_img_28" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Epipleon%20(18).jpg"
                                id="rptrSlidewhowLandscape_img_29" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon16.jpg"
                                id="rptrSlidewhowLandscape_img_30" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon22.jpg"
                                id="rptrSlidewhowLandscape_img_31" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Lefkada_Epipleon21.jpg"
                                id="rptrSlidewhowLandscape_img_32" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/JUN18/400/TTT_Ionian_Islands_Epipleon_JUN18%2010.jpg"
                                id="rptrSlidewhowLandscape_img_33" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/GREECE%20villas/Epipleon/400/TTT_Ionian_Islands_Epipleon_JUN17%20beach%201.jpg"
                                id="rptrSlidewhowLandscape_img_34" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/Greece%20Local%20Areas/Beaches%20CZ/400/TTT_Ionian_Tsoukalades_3_by_2_pano.jpg"
                                id="rptrSlidewhowLandscape_img_35" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/Greece%20Local%20Areas/Lefkada%20beaches/Lefkada%20Beaches%202017/400/Ag_Nikitas3.jpg"
                                id="rptrSlidewhowLandscape_img_36" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/Greece%20Local%20Areas/Food/400/Think_Ionian_Islands_Food%20(11).jpg"
                                id="rptrSlidewhowLandscape_img_37" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/Greece%20Local%20Areas/Sailing/400/Think_Ionian_Islands_Sailing%20(7).jpg"
                                id="rptrSlidewhowLandscape_img_38" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                            <img src="https://www.thethinkingtraveller.com/Media/Resized/Greece%20Local%20Areas/Lefkada%20beaches/Lefkada%20Beaches%202017/400/Lefkada%20Island067%20-pefkoulia.jpg"
                                id="rptrSlidewhowLandscape_img_39" style="margin-bottom: 7px; margin-right: 7px; width: 138px;" />
            
                        </div>
                        <div class="print-content gallery">
            
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            
            </div>
            <!-- think_sicily_2012 -->
            </div>
            </form>
            </body>
            
            </html>